<a href="https://colab.research.google.com/github/PrudhviNarayanKorupolu/prudhvi_INFO5731_-Fall2021/blob/main/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/01/2021, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [68]:
a=input("enter the string--:")
print("Length of the string",len(a))

enter the string--:123
Length of the string 3

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [67]:
def counting(a1):
  a = {}
  for i in a1:
   keys=a.keys()
   if i in keys:
    a[i]=a[i]+1
   else:
    a[i]=1
  return a
print(counting('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [69]:
def new(a):
  count=0
  for i in a:
    count=count+i
  return count
print(new([1,2,3,6]))

12

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [2]:
def new(string):
  char = string[0]
  string = string.replace(char, '$')
  string = char + string[1:]

  return string

print(new('restart'))

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [8]:
def new(x,y):
 a=3.14*(1+x/y)**3
 return a
print(new(5,6))

19.3487962962963

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [10]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
new={}
for i in (dic1,dic2,dic3):
  new.update(i)
print(new)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [26]:
n=input("enter alphabet:")
a=("a","b","c")
c=0
for i in a:
  if n==i:
   print ("found")
   c=c+1
if c==0:
  print("not found")

enter alphabet:p
not found

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [28]:
a={1,2,3,4}
print(type(a))
print(max(a))
print(min(a))

<class 'set'>
4
1

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
           'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091','py0080','ttp0037','hc0439','ri0094','pk0339', 'hn0145','mn0426']

In [35]:
list1 = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091','py0080','ttp0037','hc0439','ri0094','pk0339', 'hn0145','mn0426']
import random
def grouping(list,k):
   random.shuffle(list)
   result=[]
   for i in range(0,len(list),k):
     result.append(list[i:i+k])
   return result
print(grouping(list1,4))

[['at0739', 'ri0094', 'spk0057', 'py0080'], ['dd0420', 'mv0299', 'rrk0058', 'mn0426'], ['pn0159', 'nm0547', 'vl0135', 'dy0091'], ['pc0353', 'pk0339', 'ss1995', 'vmb0067'], ['yye0005', 'bk0301', 'rs0850', 'hn0145'], ['snd0097', 'hc0439', 'msp0174', 'at0768'], ['tv0119', 'ttp0037', 'ds0761', 'sg0940'], ['rak0120']]

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [46]:
 a=[1,2,3,3,4,4,5,6]

 k=[]

 for i in a:
     if k.__contains__(i):
         print(i)
     else:
         k.append(i)

3
4

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [70]:
from datetime import date,timedelta

def weeknum(dayname):
    if dayname == 'Monday':  
       return 0
    if dayname == 'Tuesday': 
       return 1
    if dayname == 'Wednesday':
      return 2
    if dayname == 'Thursday':
       return 3
    if dayname == 'Friday':  
       return 4
    if dayname == 'Saturday':
       return 5
    if dayname == 'Sunday':  
       return 6
def days1(year,day):
    d = date(year, 1, 1)
    d += timedelta(days =(weeknum(day) - d.weekday()) % 7)
    while d.year == year:
        yield d
        d += timedelta(days = 7)

for d in days1(2020,'Sunday'):
    print(d)

2020-01-05
2020-01-12
2020-01-19
2020-01-26
2020-02-02
2020-02-09
2020-02-16
2020-02-23
2020-03-01
2020-03-08
2020-03-15
2020-03-22
2020-03-29
2020-04-05
2020-04-12
2020-04-19
2020-04-26
2020-05-03
2020-05-10
2020-05-17
2020-05-24
2020-05-31
2020-06-07
2020-06-14
2020-06-21
2020-06-28
2020-07-05
2020-07-12
2020-07-19
2020-07-26
2020-08-02
2020-08-09
2020-08-16
2020-08-23
2020-08-30
2020-09-06
2020-09-13
2020-09-20
2020-09-27
2020-10-04
2020-10-11
2020-10-18
2020-10-25
2020-11-01
2020-11-08
2020-11-15
2020-11-22
2020-11-29
2020-12-06
2020-12-13
2020-12-20
2020-12-27